.body{
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.header {
  background: url('../images/bg.png') no-repeat top left;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.header__shadow {
  background: rgba(0, 0, 0, .5);
  padding: 20px 0;
}

.header__flexedContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 30px;
  font-family: serif;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu__item {
  min-width: 140px;
  text-align: center;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header__content {
  margin: 205px 0;
}

.header__subTitle {
  font-size: 92px;
  text-align: center;
  color: #fff;
}

.header__baseline {
  font-size: 24px;
  color: #fff;
  margin: 150px 0 90px;
  text-align: center;
  line-height: 40 px;
}

.header__btn {
  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 20px 0;

  color: #fff;
  background: rgba(137, 134, 130, .6  );
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border: 1px dashed #9e9c93;
}

.man1 {
  background: white;
  height: 760px;
}

.man1_container{
  display: flex;
  height: 600px;
  width: 1400px;
  padding-top: 100px;
  margin: auto;
  justify-content: space-between;
}

.man1_bigtitle{
  font-size: 64px;
  text-align: center;
  color: #56534c;
  font-weight: 300px;
}

.man1_title{
  padding-bottom: 51px;
  font-size: 32px;
  text-align: center;
  color: #56534c;
  font-weight: 300px;
}

.man1_subtitle{
  font-size: 19px;
  text-align: center;
  color: #a47d5e;
  font-weight: 150px;
  line-height: 70px;
  text-transform: uppercase;
}

.man1_paragraph{
  padding-top: 51px;
  padding-bottom: 41px;
  font-size: 18px;
  text-align: center;
  color: #56534c;
  line-height: 25px;
}

.man1_rightcontent{
  padding-left: 100px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}

.hero1_leftcontent {
  width: 550px;
  height: 650px;
}

.kitchen {
  width: 313px;
  height: 313px;
}

.kitchenb {
  padding-left: 22px;
  width: 313px;
  height: 313px;
}

.taste {
  width: 313px;
  height: 313px;
  position: absolute;
  padding-top: 152px;
  padding-left: 162px;
}

.chef {
  padding-left: 40px;
}


.man2{
  background: url('../images/perfect_pancakes.png');
  background-size: cover;
  display: flex;
  height: 760px;
}


.man2_container{
  display: flex;
  align-content: center;
  margin: auto;
  z-index: 1;
}

.man2_right{
  background: url('../images/hero2_right.PNG');
  background-size: cover;
}

.man2_title{
  font-size: 36pt;
  text-align: left;
  color: #56534c;
  padding-left: 15px;
  padding-top: 30px;
}

.man2_subtitle{
  font-size: 19px;
  text-align: left;
  padding-left: 15px;
  color: #a47d5e;
  font-weight: 150px;
  text-transform: uppercase;
  line-height: 70px;
}

.man2_paragraph{
  padding-left: 15px;
  font-size: 19px;
  text-align: left;
  color: #56534c;
  line-height: 25px;
}


.like {
  padding-top: 50px;
  padding-left: 15px;
}


.img{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.arrow{
  width: 32px;
  height: 32px;
  padding-top: 30px;
}


.dog {
  background: url('../images/four.png');
  background-size: cover;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 2;
  margin-top: 50px;
  margin-left: 1300px;
  box-shadow: -10px 15px 5px #939393;
}

.man2_subtitlebis{
  font-size: 19px;
  text-align: center;
  color: #a47d5e;
  font-weight: 150px;
  text-transform: uppercase;
  line-height: 70px;
}

.times {
  font-size: 62pt;
  text-align: center;
  color: #dfc691;
}

.second {
  font-size: 18pt;
  text-transform: lowercase;
  text-align: center;
  color: #a7a399;
}



.man3 {
  background: url('../images/breakfast.PNG');
  background-size: cover;
  display: flex;
  height: 760px;
}

.man3_leftcontent {
  height: 650px;
  width: 400px;
  margin-left: 350px;
  margin-top: 80px;
}

.man3_title {
  font-size: 50pt;
  text-align: Center;
  color: #fff;
  padding-left: 15px;
  padding-top: 30px;
}

.man3_subtitle {
  font-size: 18pt;
  text-align: center;
  padding-left: 15px;
  color: #a47d5e;
  font-weight: 150px;
  text-transform: uppercase;
  line-height: 30px;
}

.man3_titlebis {
  font-size: 24pt;
  text-align: Center;
  color: #fff;
  padding-left: 15px;
  padding-top: 45px;
}

.man3_text {
  font-size: 19px;
  text-align: center;
  color: #c2beba;
  padding-top: 20px;
}

.man3_price {
  font-size: 18pt;
  text-align: Center;
  color: #dfc691;
  padding-left: 15px;
  padding-top: 30px;
}

.man3_rightcontent {
  background: url('../images/menu.png');
  background-size: cover;
  height: 615px;
  width: 450px;
  margin-left: 580px;
  margin-top: 90px;
}

.man3_righttitle {
  font-size: 36pt;
  text-align: Center;
  color: #56534c;
  margin-top: 225px;  
}

.man3_righttext {
  padding-top: 51px;
  padding-bottom: 41px;
  font-size: 18px;
  text-align: center;
  color: #56534c;
  line-height: 20px;
}

.man3_btn {
  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 20px 0;

  font-weight: 600;
  color: #a47d5e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border: 1px solid #9e9c93;
}


.man4 {
  height: 920px;
  background: url('../images/jibarito.PNG');
  background-size: cover;
}

.man4_container{
  display: flex;
}


.man4_leftcontent {
  height: 800px;
  width: 300px;
  padding-left: 170px;
}

.man4_title{
  font-size: 36pt;
  text-align: center;
  color: #56534c;
  padding-left: 15px;
  padding-top: 70px;
}

.man4_subtitle{
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  color: #a47d5e;
  font-weight: 150px;
  text-transform: uppercase;
  line-height: 30px;
}

.man4_titlebis {
  font-size: 24pt;
  text-align: Center;
  color: #a47d5e;
}

.man4_text {
  font-size: 19px;
  text-align: center;
  color: #65625b;
  padding-top: 20px;
}


.center {
  padding-left: 100px;
  height: 105px;
  width: 105px;
  padding-top: 50px;
}


.sandwich {
  padding-left: 400px;
  padding-top: 100px;
}

.man4_rightcontent{
  margin: auto;
  position: relative;
}

.man4_btn {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 175px;
  height: 60px;
  background-color: white;
  border : 1px dashed  #dfc691;
  text-decoration: none;
}

.man4_btn_txt {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: #dfc691;
}

.square1 {
  background-color: rgba(255, 255, 255, .8  );
  width: 200px;
  height: 200px;
  position: absolute;
  flex-direction: column;
  z-index: 2;
  right: 10px;
  top: -20px;

}

.square2 {
  background-color: rgba(255, 255, 255, .8  );
  width: 200px;
  height: 200px;
  position: absolute;
  flex-direction: column;
  margin-top: 205px;
  z-index: 2;
  right: 10px;
  top: -20px;
}

.square3 {
  background: url('../images/plain.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  flex-direction: column;
  margin-top: 405px;
  z-index: 2;
  right: 10px;
  top: -20px;
}

.timing2 {
  font-size: 62pt;
  text-align: center;
  color: #56534c;
  
}


.footer{
  height: 240px;
  background-color: #f3f1e9;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.footer_content {
  width: 1260px;
  height: 70px;
  display: flex;
  margin: auto;
}





.footer_menu_item2 {
  display: inline;
  margin-left: 72px;
}

.footer_menu_item2b {
  margin-left: 40px;
}
.footer_menu_link2{
  color: #56534c;
  font-size: 18px;
  display: inline;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: #56534c;
  text-decoration: none;
}

.footer_tilde{
  margin-left: 40px;
  color: #56534c;
  font-size: 18px;
  display: inline;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: #56534c;
  text-decoration: none;
}


.footer_menu_link2b{
  color: #56534c;
  text-decoration: none;
  font-size: 36pt;
  font-family: 'Aguafina Script', cursive;
}

.footer_topleft{
  background-color: #56534c;
  position: absolute;
  height: 1px;
  width: 516px;
  margin-top: 90px;
  left: 350px;
}

.footer_bottomleft{
    background-color: #56534c;
    position: absolute;
    height: 1px;
    width: 516px;
    margin-top: 140px;
    left: 350px;
}

.footer_topright{
  background-color: #56534c;
  position: absolute;
  height: 1px;
  width: 516px;
  margin-top: 90px;
  left: 1060px;
}

.footer_bottomright{
  background-color: #56534c;
  position: absolute;
  height: 1px;
  width: 516px;
  margin-top: 140px;
  left: 1060px;
}


.first_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 1490px;
  z-index: 3;
  position: absolute;
}

.second_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 285px;
  z-index: 3;
  position: absolute;
}

.third_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 390px;
  z-index: 3;
  position: absolute;
}

.fourth_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 500px;
  z-index: 3;
  position: absolute;
}

.fifth_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 610px;
  z-index: 3;
  position: absolute;
}

.sixth_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 720px;
  z-index: 3;
  position: absolute;
}

.seven_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 830px;
  z-index: 3;
  position: absolute;
}

.eight_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 940px;
  z-index: 3;
  position: absolute;
}

.nine_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 1050px;
  z-index: 3;
  position: absolute;
}

.ten_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 1160px;
  z-index: 3;
  position: absolute;
}
.eleven_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 1270px;
  z-index: 3;
  position: absolute;
}
.twelve_colms {
  height: 455vh;
  width: 85px;
  background: rgba(207, 207, 207, 0.3);
  margin-left: 1380px;
  z-index: 3;
  position: absolute;
}

